:root {
  --auxiliary-orange: #fe7031;
  --grapefruit: #fd5103;
  --white: #fcfcfc;
  --whiteBtn: #fcfcfc;
  --black: #202025;
  --gray: #5f6775;
  --modalgray: #5f6775;


  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.themeDark {
  --white: #202025;
  --black: #fcfcfc;
  --gray: #fcfcfc;
  --modalgray: #BDBDBD;
}
